.transparent-button {
    background-color: transparent;
    border: 0px solid black;
    color: black;
    padding: 0px 0px;
    cursor: pointer;
}

.transparent-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
